In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re

search_query="nike+shoes+men"
output_csv = "nike_shoes_amazon.csv"
base_url="https://www.amazon.com/s?k="
url=base_url+search_query

header={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.90 Safari/537.36','referer':'https://www.amazon.com/s?k=nike+shoes+men&crid=28WRS5SFLWWZ6&sprefix=nike%2Caps%2C357&ref=nb_sb_ss_organic-diversity_2_4'}
response=requests.get(url,headers=header)

soup=BeautifulSoup(response.content)
products = []
for product_data in soup.findAll("div",{'class':'a-section a-spacing-small puis-padding-left-small puis-padding-right-small'}):
	item_tag = product_data.select_one('a[href*="/dp/"] h2')
	item_name = item_tag.get_text(strip=True) if item_tag else None

	price_tag = product_data.select_one('.a-price .a-offscreen')
	price = price_tag.get_text(strip=True) if price_tag else None

	brand_tag = product_data.select_one('div[data-cy="title-recipe"] h2 span')
	store = brand_tag.get_text(strip=True) if brand_tag else None

	try:
		rating_tag = product_data.select_one('a.a-popover-trigger[aria-label]')
		rating = rating_tag['aria-label'] if rating_tag else None
		match = re.search(r'\d+\.\d+', rating)
		rating_number = match.group() if match else None
	except:
		rating_number = None


	reviews_tag = product_data.select_one('a[href*="#customerReviews"] span')
	if reviews_tag:
		review_text = reviews_tag.get_text(strip=True).replace(",", "")
		try:
			number_of_reviews = int(review_text)
		except ValueError:
			number_of_reviews = None
	else:
		number_of_reviews = None

	products.append({
		"item-name": item_name,
		"price" : price,
		"brand": store,
		"rating": rating_number,
		"number of reviews": number_of_reviews
	})

df = pd.DataFrame(products)
df.to_csv(output_csv, index=False)

In [2]:
df

,item-name,price,brand,rating,number of reviews
0,Men's Air Force 1'07 Shoes Basketball,$97.99,Nike,4.6,10367
1,Dunk Low Mens Sneakers,$84.95,Nike,4.6,2692
2,Men's Infinity G Next Nature Sneaker,$75.00,Nike,5.0,1
3,Men's Court Vision Low Sneaker,$74.99,Nike,4.0,86
4,Air Huarache Mens Shoes,$133.68,Nike,4.3,218
5,Men's Running Shoe,$72.33,Nike,4.5,760
6,Men's Killshot 2 Sneaker,$75.98,Nike,4.2,40
7,Men's Basketball Shoes,$129.95,Nike,4.6,8764
8,Men's Ebernon Low Running Shoe,$75.66,Nike,4.4,1664
9,Men's Low-Top Sneaker,$159.00,Nike,4.4,6798
10,Men's Style#: 942836-002,$72.00,Nike,4.4,176
11,Men's Running/Jogging Shoe,$71.38,Nike,4.5,70
12,Men's Fresh Foam Roav V1 Classic Sneaker,$59.95,New Balance,4.5,9619
13,Metcon 9 Men's Workout Shoes,$108.90,Nike,4.5,75
14,Men's Low-Top Sneaker,None,Nike,4.5,1901
15,Flex Control 4 Men's Training Shoes,None,Nike,4.5,690
16,Men's Running Low,$80.00,Nike,4.3,104
17,"Air Force 1 '07 LV8 Men's Shoes (HV5752-410, M...",$132.95,Nike,4.8,11
18,Men's Air Max Shoes,$159.95,Nike,4.5,179
19,"Men's Sneaker, Racer Blue White Black Anthraci...",$85.00,Nike,4.7,4
20,Men's Sneaker,$84.00,Nike,4.6,29
21,Men's Trainers by Running Shoe,$90.00,Nike,4.2,2218
22,"Ja 2 Basketball Shoes (FD7328-001, Black/Light...",$84.32,Nike,2.5,2
23,Men's Running Shoe,$63.65,Nike,4.3,1313
24,"Men's Low-top Sneakers, 0",$101.20,Nike,4.6,120
25,Men's Air Monarch IV Cross Trainer,None,Nike,4.4,1343
26,Men's Air Max Excee Shoes Sneaker,None,Nike,4.4,704
27,Men's Fitness Shoes,None,Nike,4.2,1717
28,Men's Flex Control TR3 Sneaker,None,Nike,4.5,6807
29,Pegasus 41 Men's Road Running Shoes,None,Nike,4.6,112
30,Men's Sneaker,None,Nike,4.6,7514
31,"Air Max 90 Men's Shoes (DM0029-011, Light Bone...",None,Nike,4.0,14
32,Women's Sneaker,None,Nike,4.6,7473
33,Men's Sneaker Shoes,$93.99,Nike,4.4,1940
34,"Men's Sneaker, Racer Blue White Black Anthraci...",$74.93,Nike,4.5,15
35,KD Trey 5 X EP Men's Basketball Shoes Black/White,$70.32,Nike,4.5,291
36,Men's Sneaker Three Quarters Tall,$64.99,Nike,4.6,81
37,"Men's Running Shoes, 10.5 AU",None,Nike,4.5,2462
38,Men's Formation Gymnastics Shoe,None,Nike,4.4,29687
39,"Dunk Low Retro SE Men's Shoes (HQ3640-790, Whe...",None,Nike,4.2,15
40,Mens Free Rn 2018 Running Shoe,$65.42,Nike,4.5,6658
41,Men's Cortez Sneakers,None,Nike,4.8,105
42,Men's Running Low,None,Nike,4.2,48
43,Men’s Revel 7 Neutral Running Shoe,None,Brooks,4.5,749
44,Men's Cortez Sneakers,None,Nike,4.6,51
45,Men's Low-Top Sneakers Basketball Shoes,$60.15,Nike,4.4,4851
46,Lebron XXII Crown Jewel Basketball Shoes (FZ10...,$89.99,Lebron XXII Crown Jewel Basketball Shoes (FZ10...,4.6,7
47,React SFB Carbon Dark Stucco/Black/Rattan/Tota...,$119.95,Nike,3.9,134